/* Brand Carousel */
div.scrollmenu {
    //background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}


/* Media query for Team Section */
@media screen and (max-width: 1300px){
    .team-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr) !important;
    }
}

@media screen and (max-width: 1000px){
    .team-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

@media screen and (max-width: 700px){
    .team-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
    }
}